 <!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yunyeong Kwon</title>
    <!-- Bootstrap core css-->
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.min.css' %}" media="screen">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'blog/css/blog-post.css' %}" media="screen">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">

    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>



</head>

<body>
  <!-- Navigation -->
  {% include 'blog/navbar.html' %}
  <!-- Banner Image  -->
<main class="container-fluid">
  <!-- Main Content Area -->
    <div class="flex-container">
        <!-- Blog Entries Column -->
        <div class="d-none d-lg-block"><div class="margin-box"></div></div>
          <div id="post-container">
              <div class="post-page-title">
                  <h2>posts</h2>
              </div>
                {% if post_list.exists %}
                {% for p in post_list %}
                <!-- Blog Post -->
               <div class="post-box">
                      <div class="post-title">
                          <a href="{{ p.get_absolute_url}}"title="{{ p.title }}"><h4>{{p.title}}</h4></a>
                      </div>
                      <div class="post-date">
                         <h6>{{p.created_at}}</h6>
                      </div>
                      <div class="post-content">
                          <a href="{{ p.get_absolute_url}}"title="{{ p.title }}"><h6>{{p.content | truncatewords:45}} Read More</h6></a>
                      </div>
                      <div class="post-tag">
                           {% if p.tags.exists %}
                           {%for tag in p.tags.iterator %}
                          <div class="custom-badge"># {{tag}}</div>
                           {%endfor%}
                          {%endif%}
                      </div>
               </div>
               {%endfor%}
        {% else %}
            <h6 style="text-align:center">아직 게시물이 없습니다.</h6>
        {% endif %}
          </div>
          <div class="d-none d-md-block">
              <div class="category">
                  <a href="/blog">
                      <div class="category-box">
                          <div>전체</div>
                           <div class="post-num">{{all_post}}</div>
                      </div>
                  </a>
                  {% for category, cnt in categories %}
                    <a href="{{category.get_absolute_url}}">
                        {% if category.parent %}
                         <div class="category-box">
                             <div>&nbsp;&nbsp;&nbsp;‣&nbsp; {{category.name}}</div>
                         </div>
                        {% else %}
                        <div class="category-box">
                            <div>{{category.name}}</div>
                            <div class="post-num">{{cnt}}</div>
                        </div>
                        {% endif%}
                    </a>
                  {% endfor %}
                </div>
          </div>
         <div class="d-none d-lg-block"><div class="margin-box"></div></div>
    </div>
</main>
  {% include 'blog/footer.html' %}
</body>

  <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</html>
